/*---CSS Global---*/
.test
{
	border: 1px solid red;
}
.no-padding
{
	padding-top: 0!important;
}
.noPadLeft
{
	padding-left: 0!important;
}
.noPadRight
{
	padding-right: 0!important;
}
.noMarSides
{
	padding-right: 0!important;
	padding-left: 0!important;
}
.noMarLeft
{
	margin-left: 0!important;
}
.noMarRight
{
	margin-right: 0!important;
}
.no-margin-top
{
	margin-top: 0!important;
}
.break-line
{
	width: 100%;
	content: "";
	margin-bottom: .2em;
}
.text-right
{
	text-align: right;
}
.text-left
{
	text-align: left;
}
.text-center
{
	text-align: center;
}
.w-100
{
	width: 100%;
}
.w-95
{
	width: 95%;
	min-width: 150px;
}
.w-90
{
	width: 90%;
}
.w-80
{
	width: 80%;
}
.w-70
{
	width: 70%;
}
.hidden
{
	display: none;
}
.center-div
{
	justify-content: center;
	margin: 0 auto;
}
.v-center
{
	display: inline-block;
	vertical-align: middle;
	float: none;
}
.h-center
{
	margin: 0 auto;
	float: none;
}
.center-div-flex
{
	display: flex;
	justify-content: center; /* align horizontally */
	align-items: center;
}
.flex-column
{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.align-element
{
	display: flex;
	align-items: center;
}
.align-elementEnd
{
	align-items: flex-end;
}
.center-element
{
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;

	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}
.clear-both
{
	clear: both;
}



svg {
	background:lightgray;
}
path{
	fill:#b9b9b9;
	transition: 0.5s all linear;
}
path:hover {
	fill:#255E69;
}
/*---CSS Global---*/
/*---Tabla Estados---*/
.datosEstado
{
	background-color: #f3f3f3;
	padding: .5em 0;
	border-radius: 5px;
}
.datosEstado2
{
	padding: .5em 0;
	border-radius: 5px;
}
.archivosEstado
{
	padding: .5em 0;
	border-radius: 5px;
	border: 1px solid #f3f3f3;
	margin-bottom: .3em;
}
.archivosEstadoTit
{
	color: #ffffff;
	font-weight: bolder;
	padding: .5em 0;
	border-radius: 5px;
	border: 1px solid #f3f3f3;
	margin-bottom: .3em;
}
.archivosEstado i
{
	color: #999999;
}
.subtitulos
{
	background-color: #999999;
	color: #ffffff;
	padding: .5em 0;
	border-radius: 5px;
	margin: .3em 0;
}
.subtitulos a
{
	color: #ffffff;
	text-decoration: none;
}
.sep-bloque
{
	border-right: 1px solid #f3f3f3
}
.well
{
	background-color: #9d2449!important;
}
